{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr 1fr;
    }
</style>

<div class="home-container">

        <div class="">
            <h3>Browse Topics</h3>
            <hr>

            <div class="">
                <a href="{% url 'home' %}">All</a>
            </div>

            {% for i in topics %}

                <div class="">
                    <a href="{% url 'home' %}?q={{i.name}}">{{i.name}}</a> 
                </div>

            {% endfor %}

        </div>

    
    <div class="">

        <h2> <b>{{room_count}}</b> rooms available </h2>

        <a href="{% url 'create-room' %}">Create Room</a> <br><br><br>

        <div class="">
            
            {% for i  in room %}
                {% if request.user == i.host %}
                <a href="{% url 'update-room' i.id %}">Edit</a>
                <a href="{% url 'delete-room' i.id %}">Delete</a>
                {% endif %}
                <h1> <a href="profile/{{i.host.id}}">@{{i.host}}</a></h1>

                <h1><a href="room/{{i.id}}">{{i.id}}-{{i.name}}</a></h1>

                <h1>{{i.topic}}</h1>

                <hr>

            {% endfor %}

        </div>

    </div>

    <div class="">
        Recent Activity
        <hr>
        {% for i in  room_messages %}

            <div class="">
                <small> <b>@{{i.user}}</b>  {{i.created|timesince}}</small>
                <h3>replied to {{i.room}}</h3>
                <p>{{i.body}}</p>
                <hr>
            </div>

        {% endfor %}
    </div>

</div>
    
{% endblock content %}