{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div class="">
    <form action="" method="POST">
        {% csrf_token %}

        <label for="">Username:</label>
        <input type="text" name="Username" placeholder="Enter Username">

        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="login">

    </form>

    <p>Havent signed up yet?</p>
    <a href="{% url 'login' %}">Sign up</a>
</div>

{% else %}

<div class="">
    <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit" value="Register">

    </form>
    <p>Already signed up yet?</p>
    <a href="{% url 'login' %}">Sign up</a>
</div>

{% endif %}

{% endblock content %}
